
body {
    font-family: Arial, sans-serif;
    background-color: #178a00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgb(206, 243, 200);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    position: relative;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #3cc022;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.social-login {
    margin-top: 20px;
}

.social-login p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

.google-btn, .facebook-btn {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.google-btn {
    background-color: #db4437;
    color: #fff;
}

.google-btn:hover {
    background-color: #a13428;
}

.facebook-btn {
    background-color: #3b5998;
    color: #fff;
}

.facebook-btn:hover {
    background-color: #2d4373;
}
.back-button {
    background-color: transparent;
    color: #009803;
    font-size: 45px;
    position: absolute;
    top: 10px; 
    left: 10px; 
    cursor: pointer;
}